*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;  
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.nav-links a:hover{
    color:#ff6347;
    text-transform: lowercase;
}

.nav-links a.active{
    color: #f39c12;
    font-weight: bold;
}

.title{
    text-align: center;
    background-color: hsl(212, 14%, 73%);
    padding: 80px 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin-bottom: 20px;
}
.title p{
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mission{
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    width: 80%;
}
.column{

    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
}
.column h1{
    margin-bottom: 15px;
    font-size: 20px;

}
.footer{
   
    bottom: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    
}
.goal{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 80%;
}
   
   
.row h1{
    padding: 50px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.row img{
    height: 150px;
    width: 80%;
    
    
}
   
.line{
    text-align: center;
    background-color: hsl(212, 14%, 73%);
    padding: 80px 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
   

.line h1{
    margin-bottom: 15px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.line p{
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-container{
    background-color: #fff;
    padding: 30px;
    border-radius: 40px;
    width: 400px;
    height: 100%;
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.contact-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}
.form-group{
    margin-bottom: 15px;

}
.form-group label{
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}
.form-group input,
.form-group textarea{
    outline: none;
    border-color: #3494db;
    padding: 10px 15px;
    width: 100%;
    border-radius: 30px;
}
.contact-container button{
    background-color: #3498dd;
    color:white;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}




